<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
      rel="stylesheet"
    />
  </head>

  <body class="font-poppins">
    <main class="flex h-screen">
      <!-- sidebar -->
      <aside
        class="fixed left-0 top-0 h-screen w-[300px] bg-white border px-5 overflow-y-auto"
      >
        <!-- Logo -->
        <h1 class="mt-8 mb-10 text-4xl font-bold uppercase font-[cursive]">
          Readed
        </h1>

        <!-- Section: Dashboard -->
        <a
          href="#"
          class="flex items-center gap-3 text-base bg-[#3A0CA3] text-white font-medium px-4 py-3 rounded-lg mb-6"
        >
          <img
            src="../public/icons/home.svg"
            alt="dashboard-icon"
            class="w-5 h-5"
          />
          <span>Dashboard</span>
        </a>

        <!-- Section: Article -->
        <div class="mb-6">
          <h2 class="text-sm font-semibold text-gray-600 uppercase mb-4">
            Article
          </h2>
          <div class="flex flex-col gap-3">
            <a
              href="#"
              class="flex items-center gap-3 text-base text-black hover:text-[#3A0CA3] hover:font-medium"
            >
              <img src="../public/icons/plus.svg" class="w-5 h-5" />
              <span>Create post</span>
            </a>
            <a
              href="#"
              class="flex items-center gap-3 text-base text-black hover:text-[#3A0CA3] hover:font-medium"
            >
              <img src="../public/icons/file.svg" class="w-5 h-5" />
              <span>My posts</span>
            </a>
            <a
              href="#"
              class="flex items-center gap-3 text-base text-black hover:text-[#3A0CA3] hover:font-medium"
            >
              <img src="../public/icons/edit.svg" class="w-5 h-5" />
              <span>Edit post</span>
            </a>
          </div>
        </div>

        <!-- Section: Category -->
        <div class="mb-6">
          <h2 class="text-sm font-semibold text-gray-600 uppercase mb-4">
            Category
          </h2>
          <a
            href="#"
            class="flex items-center gap-3 text-base text-black hover:text-[#3A0CA3] hover:font-medium"
          >
            <img src="../public/icons/folder.svg" class="w-5 h-5" />
            <span>Manage category</span>
          </a>
        </div>

        <!-- Section: Account -->
        <div class="mb-10">
          <h2 class="text-sm font-semibold text-gray-600 uppercase mb-4">
            Account
          </h2>
          <a
            href="#"
            class="flex items-center gap-3 text-base text-black hover:text-[#3A0CA3] hover:font-medium"
          >
            <img src="../public/icons/user.svg" class="w-5 h-5" />
            <span>Account setting</span>
          </a>
        </div>
      </aside>

      <!-- content -->
      <section class="ml-[350px] flex-1 overflow-y-auto h-screen p-6">
        <div class="space-y-10">
          <div class="h-[2000px] bg-gray-100">pantat keram</div>
        </div>
      </section>
    </main>
  </body>
</html>
